.project {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .project-card {
    width: 300px;
    height: 450px;
    margin: 40px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }

  .photo {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .text {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .code-link {
    margin-bottom: 60px;
    background-color: transparent;
    border: none;
  }

  .code-link:hover {
    color: rgba(255, 255, 255, 0.717);
    transition-delay: 0.02s;
    opacity: 0.6;
  }

  .tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .h1-tech {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
  }

  .clickable-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .clickable-list li {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin-left: 100px;
    margin-top: 10px;
  }

  @media (min-width: 768px) {
    .clickable-list li {
      width: 25%; 
    }
  }
  
  @media (min-width: 992px) {
    .clickable-list li {
      width: 20%; 
    }
  }
  
  .clickable-list label {
    display: flex;
    align-items: center;
    transition: color 0.25s ease-out, background-color 0.25s ease-out;
  }

  .clickable-list label:hover {
    color: rgba(255, 255, 255, 0.717);
    transition-delay: 0.02s;
    opacity: 0.6;
  }
  
  .clickable-list input[type="checkbox"] {
    margin-right: 5px;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: transparent;
  }

  
  .clickable-list input[type="checkbox"]:checked {
    background-color: black;
    opacity: 1;
  }
  
  .clickable-list label span {
    opacity: 0.5;
  }