.about-card {
    width: 1000px;
    height: 650px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-h1 {
    position: fixed;
    top: 30px;
    left: 65px;
    font-weight: bolder;
}

.about-text {
        font-family: Arial, sans-serif;
        font-size: 25px;
        line-height: 1.5;
        font-weight: bolder;
        padding: 20px;
        border-radius: 5px;
}