.background {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  }

  .about-container {
    display: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    }
  
  .about-card {
    max-width:1100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 163px;
    }
  
  .about-h1 {
    font-weight: bolder;
    text-align: left;
  }
  
  .about-text {
    font-family: Arial, sans-serif;
    font-size: 25px;
    line-height: 1.5;
    font-weight: bolder;
    padding: 20px;
    border-radius: 5px;
  }

@media (max-width: 1100px){
  .about-card {
    margin-top: 350px;
    }
}