* {
    cursor: none;
  }

.background {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #3c1053;
    background-image: linear-gradient(
      43deg,
      #3c1053 30%,
      #ad5389 100%
    );
  }

  .calendar {
    margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  position: fixed;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  width: 1500px; 
  height: 400px; 
  }

  .welcome {
    display: flex;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 70px;
    margin: 10px;
    position: fixed;
  }
  
  .welcome2 {
    display: flex;
    position: absolute;
    top: 130px;
    left: 50px;
    font-size: 60px;
    margin: 10px;
    position: fixed;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    padding: 100px;
    position: fixed;
  }
  
  .nav ul {
    list-style-type: none;
    margin: 150;
    padding: 0;
  }
  
  .nav li {
    font-size: 50px;
    margin-right: 100px;
  }
  

  .footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 200px;
    left: 0px;
    right: 0px;
    padding: 10px;
  }
  
  .footer-buttons {
    margin-top: 10px;
  }
  
  .social-button {
    margin-top: 2rem;
    width: 90px;
    height: 45px;
    background-color: transparent;
    border: none;
     border-radius: 15px;
     transition: color 0.25s ease-out;
  }

  .social-button:hover {
    color: rgba(255, 255, 255, 0.717);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0.6;
    transition-delay: 0.02s;
  }

  .icon {
    font-size: 40px;
  }

  .nav-button {
    margin-top: 1rem;
    height: 60px;
    background-color: black;
    border: none;
    border-radius: 0px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
    padding: 0px 0px;
    line-height: 1;
    transition: color 0.25s ease-out, background-color 0.25s ease-out;
  }
  
  .nav-button:hover {
    color: rgba(255, 255, 255, 0.717);
    background-color: #3c1053; 
    transition-delay: 0.02s;
    opacity: 0.6;
  }
  
  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.3s ease-out, background-color 0.3s ease-out;
  }
  
  .custom-cursor:hover {
    color: #3c1053;
    transition-delay: 0.02s;
    opacity: 0.6;
  }
