.background {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #3c1053;
    background-image: linear-gradient(
      43deg,
      #3c1053 30%,
      #ad5389 100%
    );
  }

  .welcome {
    display: flex;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 70px;
    margin: 10px;
    position: fixed;
  }
  
  .welcome2 {
    display: flex;
    position: absolute;
    top: 130px;
    left: 50px;
    font-size: 60px;
    margin: 10px;
    position: fixed;
  }  


  
  
  
