.welcome-container {
  position: fixed;
}

.welcome {
  display: flex;
  position: fixed;
  top: 50px;
  left: 50px;
  font-size: 70px;
  margin: 10px;
}

.welcome2 {
  display: flex;
  position: absolute;
  top: 130px;
  left: 50px;
  font-size: 60px;
  margin: 10px;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}



