@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flip {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}

.certificate-card {
  display: none;
}

.certificate-card.visible {
  display: block;
}


.certificates-container {
  display: flex;
  justify-content: center;
}

.certificates-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.certificate-card {
  perspective: 1000px;
  width: 100%;
  height: 200px;
  cursor: pointer;
  position: relative;
  animation: fade-in 0.5s ease;
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
  z-index: 1;
}

.certificate-card.selected .card-inner {
  transform: rotateY(180deg);
}



