@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  cursor: none;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.fade-in.active {
  opacity: 1;
}

.fade-out {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.fade-out.active {
  opacity: 0;
}

/* Add any additional styling for your routes */
.fade-in div,
.fade-out div {
  /* Additional styles for route elements */
}

