@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  cursor: none;
}

.page-wrapper {
  position: relative;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 450ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 450ms ease-in-out;
}

.fade-enter-active,
.fade-exit-active {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}




