.nav {
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
  padding: 100px;
  position: relative;
}

.nav ul {
  list-style-type: none;
  margin: 150;
  padding: 0;
}

.nav li {
  font-size: 50px;
  margin-right: 100px;
}

.nav-button {
  margin-top: 1rem;
  height: 60px;
  background-color: black;
  border: none;
  border-radius: 0px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 50px;
  padding: 0px 0px;
  line-height: 1;
  transition: color 0.25s ease-out, background-color 0.25s ease-out;
  text-decoration: none;
}

.nav-button:hover {
  color: rgba(255, 255, 255, 0.717);
  background-color: #3c1053;
  transition-delay: 0.02s;
  opacity: 0.6;
}


@media (max-width: 1250px) {
  .nav {
    padding: 30px;
    justify-content: center;
    position: relative;
    top: 200px; 
    left: 100px;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .nav li {
    font-size: 30px;
    margin-right: 0; 
    margin-bottom: 20px; 
  }
}


@media (max-width: 768px) {
  .nav {
    padding: 50px;
    justify-content: center;
    position: relative;
    top: 300px;
  }

  .nav li {
    font-size: 30px;
    margin-right: 50px;
  }
}

@media (max-width: 480px) {
  .nav {
    top:300px;
    padding: 30px;
    left: 70px;
  }

  .nav li {
    font-size: 25px;
    margin-right: 30px;
  }
}


